body {
   background-color: #ffffff;
   color: #666666;
   font-family: Verdana, Arial, sans-serif;
   background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
   background-attachment:fixed;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    line-height: 140%;
    padding: 0.5rem;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin:0;

}


nav {
   font-weight:bold;
   background-color: #424242;
   padding:0;
   margin:0;
   position: sticky; 
   top:0;
}

nav ul{
    margin:0;
    padding:0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}

h2{
    color: #424242;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

dt{
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    width: 80%;
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
}

#wrapper {
   display: grid;
   grid-auto-rows: minmax(0, auto);
   grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header{
    grid-row: 1 / 2;
    grid-column: 2 /-2;
}
#homehero {
    background-image: url(images/homehero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
h3{
 color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#studenthero{
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
#facultyhero{
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
nav a { text-decoration: none;
    color: white;
    padding: 1rem 0rem;
    display: block;
    text-align:center;
 }
 nav{
    grid-row: 2 / 3;
    grid-column: 2 / -2;
 }

 nav a:hover{
    background-color: #BA1C21;
 }
 #homehero, #studenthero, #facultyhero {
    grid-row: 3 /4;
    grid-column: 2 / -2;
 }
 main{
    grid-row: 4 /5;
    grid-column: 2 / -2;
 }
 footer{
    grid-row: 5 /6;
    grid-column: 2 / -2;
 }
 main img {
    float; right;
    padding-left: 2rem;
 }