* { box-sizing: border-box; 
}
body {
   background-color: #ffffff;
   color: #666666;
   font-family: Verdana, Arial, sans-serif;
   background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
   background-attachment:fixed;
   margin: 0;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    line-height: 140%;
    padding: 0.5rem;
    background-image: url(images/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin-bottom: 0;
}

nav {
   font-weight:bold;
   background-color: #F3F3F3;
   padding-top: 0.5rem;
   padding-right: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 2rem; 
}

h2{
    color: #424242;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

dt{
    color: #003058;
    font-weight: bold;
}
.ut {
    color: #ba1c21;
    font-weight: bold;
}

footer {
    width: 80%;
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    background-color: #ffffff;
}
#homehero {
    background-image: url(images/homehero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
h3{
 color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#studenthero{
    background-image: url(images/studenthero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
#facultyhero{
    background-image: url(images/facultyhero.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}
nav a { text-decoration: none;
 }